<form method="post">
    <p>Length</p>
    <input name="Length" type="number" step=".1" min="0" required/>
    <p>Width</p>
    <input name="Width" type="number" step=".1" min="0" required/>
    <p>Height</p>
    <input name="Height" type="number" step=".1" min="0" required/>

    <input type="submit"/>
</form>